:root {
  --blue-sky: #788BFF;
  --main-color: #FFFFFF;
  --second-blue: #DEE3FF;
  --light-one: #e9ecff;
  --form-hfont: 20px;
  --form-cfont: 15px;
  --h-big: clamp(20px, 3vw, 37px);
  --button-font: clamp(14px, 7vw, 20px);
  --button-width: clamp(20px, 7vw, 100px);
  --button-height: clamp(10px, 3.5vw, 50px)
  --padding-header: clamp(7px, 20px, 30px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr;
  height: 100vh;
  background-color: var(--main-color);
}

header {
  background-color: var(--blue-sky);
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 20px;
}

.logo {
  font-size: var(--h-big);
  font-weight: 1000;
  color: var(--main-color);
  letter-spacing: 1px;
}

main {
  background-color: var(--main-color);
  grid-row: 2/3;
  grid-column: 2/3;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 215px;
}

.add-btn {
  background-color: var(--blue-sky);
  width: clamp(50px, 10vw, 90px);
  height: clamp(20px, 4vw, 50px);
  border-radius: 5px;
  color: white;
}

nav {
  background-color: var(--second-blue);
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#inbox-button {
  width: clamp(50px, 10vw, 100px);
  height: clamp(20px, 37px, 50px);
  border-radius: 5px;
  border: none;
  background-color: transparent;
  font-size: var(--button-font);
  cursor: pointer;
}

#inbox-button:hover {
  background-color: var(--light-one);
}

.bottom-sec h3 {
  font-size: var(--padding-header);
}

.bottom-sec .form-control {
  width: clamp(100px, 15vw, 300px);
}

.bottom-sec {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

button {
  font-size: var(--button-font);
  width: var(--button-width);
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

button:hover:not(.add-btn) {
  background-color: var(--light-one);
}

.add-project {
  width: clamp(70px, 10vw, 200px);
  height: 40px;
}

footer {
  background-color: var(--blue-sky);
  grid-row: 3/4;
  grid-column: 1/3;
  padding: 20px;
}


.popup {
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border-radius: 10px; */
  box-shadow: 1px 10px 40px 1px rgba(0, 0, 0, 0.406);
  transition: all 0.2s;
}

.form-head {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue-sky);
  padding: 10px;
  color: var(--main-color);
  font-size: var(--form-hfont);
  /* border-radius: 10px; */
}

.popup li {
  list-style: none;
}

.content {
  display: flex;
  gap: 10px;
  font-size: var(--form-cfont);
}

.side-content {
  background-color: var(--second-blue);
  padding: 10px;
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content textarea {
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
}

.submit {
  background-color: var(--blue-sky);
  color: var(--main-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.hidden {
  display: none;
}

.buttons-wrapper {
  margin: 10px;
}

.task {
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.321);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
